@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Kaushan Script');
.selector-for-some-widget {
    box-sizing: content-box;
  }
body {
    font-family: 'Inter';
    font-size: 1rem;
    background-color: #E5E5E5;
}
.box {
  margin: 0;
}
html, body { overflow-x: hidden; }
.far.active, .fas.active {
  color: #f26e21;
}
.far:hover, .fas:hover {
  color: #f26e21;
}
/*-------------SCROLLBAR-----------*/
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #d99053 #E5E5E5;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #E5E5E5;
}

*::-webkit-scrollbar-thumb {
  background-color: #d99053;
  border-radius: 10px;
}