<!DOCTYPE html>
<html lang="it">

<head>
    <link rel="icon" href="/tw23-squisito/view/resource/logo.svg" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-avatar@latest/dist/avatar.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="./style/flag-icons.min.css" rel="stylesheet">
    <link href="./style/main.css" rel="stylesheet">
    <link href="./style/addpost.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ce8df11f13.js" crossorigin="anonymous"></script>
    <title>Macaron</title>
</head>

<body>
    <div class="row box">
        <div class="row title gx-0">
            <p>Squisito</p>
        </div>
        <div class="row gx-0 photo d-flex" id="post">
            <div class="col-12 col-md-6 d-inline-block hero-image" id="hero-image">
                <div class="row justify-content-between">
                    <div class="col-1">
                        <div class="back-button">
                            <span class="fas fa-arrow-left fa-lg" onclick="history.back()"></span>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="place float-end">
                            <img id="flag" alt="country" class="flag">
                            <span id="CountryName"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 d-inline-block h-50">
                <div class="container-fluid">
                    <div class="row justify-content-center pt-5">
                        <form class="p-3 form" action="/tw23-squisito/model/post_models/add_post.php" enctype="multipart/form-data" method="post">
                            <div class="mb-3">
                                <label for="titolo" class="form-label">Titolo</label>
                                <input type="text" name="Titolo" class="form-control" id="titolo">
                            </div>
                            <div class="mb-3">
                                <label for="choose-image" class="form-label">Foto</label>
                                <input type="file" name="Foto" class="form-control" accept="image/png, image/jpeg"
                                    id="Foto">
                            </div>
                            <div class="mb-3">
                                <label for="sel1" class="form-label">Nazione</label>
                                <select class="selectpicker form-select" name="IDNazione"id="sel1" name="sellist1">
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="ricetta" class="form-label">Ricetta</label>
                                <textarea name="Ricetta" class="form-control" id="ricetta"></textarea>
                            </div>
                            <button  type="submit" class="btn btn-primary">Crea</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <nav class="row gx-0">
            <div class="nav">
                <span class="fas fa-house active fa-xl"></span>
                <span class="fas fa-globe fa-xl"></span>
                <span class="far fa-square-plus fa-xl" onclick="addpost()"></span>
                <span class="fas fa-magnifying-glass fa-xl"></span>
                <img id="user-photo-small" alt="profile-image" class="avatar avatar-32 rounded-circle p-1">
            </div>
        </nav>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="/tw23-squisito/controller/addpost.js"></script>
</body>

</html>
