<!DOCTYPE html>
<html lang="it">

<head>
    <link rel="icon" href="/tw23-squisito/view/resource/logo.svg" type="image/x-icon">
    <title>Home</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-avatar@latest/dist/avatar.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="./style/main.css" rel="stylesheet">
    <link href="./style/home.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ce8df11f13.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="row box">
        <div class="col-md-9 col-sm-12">
            <div class="row title">
                <p>Squisito</p>
            </div>
            <div class="row posts-box" id="row posts-box">

            </div>
            <nav class="row">
                <div class="nav">
                    <span class="fas fa-house active fa-xl"></span>
                    <span class="fas fa-globe fa-xl"></span>
                    <span class="far fa-square-plus fa-xl" onclick="addpost()"></span>
                    <span class="fas fa-magnifying-glass fa-xl"></span>
                    <img id="user-photo-large" alt="profile-image"
                        class="avatar avatar-32 rounded-circle p-1 d-md-none">
                </div>
            </nav>
        </div>
        <aside class="col-md-3 d-none d-md-block">
            <div class="notification">
                <span class="fas fa-bell fa-2xl"></span>
            </div>
            <div class="profile-info">
                <img id="user-photo-small" alt="Avatar" class="avatar avatar-128 rounded-circle p-1">
                <p id="username"></p><br>
                <input type="button" class="btn btn-dark" id="edit-profile" value="Edit">
            </div>
            <div class="row follow">
                <div class="col-4">
                    <strong>
                        <p class="m-0" id="number_post"></p>
                    </strong>
                    <p class="m-0">Post</p>
                </div>
                <div class="col-4">
                    <strong>
                        <p class="m-0" id="number_follower"></p>
                    </strong>
                    <p class="m-0">Follower</p>
                </div>
                <div class="col-4">
                    <strong>
                        <p class="m-0" id="number_seguiti"></p>
                    </strong>
                    <p class="m-0">Seguiti</p>
                </div>
            </div>
            <div class="bio">
                <p id="bio"></p>
            </div>
            <div class="create">
                <form action="/tw23-squisito/view/addpost.html">
                    <input type="submit" class="btn create-post" id="create-post" value="Create Post">
                </form>
            </div>
        </aside>
    </div>
    <script src="/tw23-squisito/controller/NewshowPosts.js"></script>
    <script src="/tw23-squisito/controller/home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>