<!DOCTYPE html>
<html lang="it">

<head>
    <link rel="icon" href="/tw23-squisito/view/resource/logo.svg" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-avatar@latest/dist/avatar.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="./style/main.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ce8df11f13.js" crossorigin="anonymous"></script>
    <title>Macaron</title>
</head>

<body class="wrapper">
    <div class="row h-100 d-flex" id="post-box">
        <div id="immagineMain" class="col-12 col-md-6 d-inline-block hero-image">
            <div class="row justify-content-between">
                <div class="col-1">
                    <div class="back-button">
                        <span class="fas fa-arrow-left fa-lg" onclick="history.back()"></span>
                    </div>
                </div>
                <div class="col-5">
                    <div class="place float-end">
                        <img id="flag" alt="country" class="flag" src="/tw23-squisito/view/resource/flags/it.png">
                        <span id="Paese"></span>
                    </div>
                </div>
            </div>
            <div class="row p-3 justify-content-between">
                <div class="col-auto">
                    <span id="heart" class="fas fa-heart like"></span>
                </div>
                <div class="col-auto">
                    <input hidden type="button" class="btn btn-danger" name="delete_post" value="Cancella"
                        id="delete_post">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 d-inline-block">
            <div class="row p-2 pt-5  gx-0">
                <div class="col-auto">
                    <img id="fotoUtentePost" alt="profile-image" class="avatar avatar-64 rounded-circle my-auto"
                        src="/tw23-squisito/view/resource/basic_user.png">
                </div>
                <div class="col-auto d-flex my-auto">
                    <h5 id="nomeUtente">User</h5>
                    <input hidden type="button" id="followBtn" class="btn btn-sm mx-4 follow"
                        value="Follow">
                </div>
                <div class="line-1 my-4"></div>
                <div id="testoRicetta" class="row py-3">
                </div>
                <div class="row post-time" id="data_post">
                </div>
                <div id="comment" class="row ps-5 p-3 posts">

                </div>
                <div class="row p-3">
                    <div class="col-auto">
                        <img id="photo_comment" alt="profile-image" class="avatar avatar-32 rounded-circle my-auto"
                            src="/tw23-squisito/view/resource/basic_user.png">
                    </div>
                    <div class="col-10 leave-comment">
                        <label hidden for="textArea" class="form-label">Commenta</label>
                        <textarea id="textArea" name="1" class="w-100 me-3" placeholder="Commenta"></textarea>
                        <input type="button" class="pubblica" value="Pubblica">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="/tw23-squisito/controller/post.js"></script>
    <script src="/tw23-squisito/controller/singlePostLoad.js"></script>
</body>

</html>