<!DOCTYPE html>
<html lang="it">

<head>
    <link rel="icon" href="/tw23-squisito/view/resource/logo.svg" type="image/x-icon">
    <title>Profile</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-avatar@latest/dist/avatar.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./style/main.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ce8df11f13.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="row box">
        <div class="row title gx-0 justify-content-between">
            <div class="col-auto">
                <p>Squisito</p>
            </div>
            <div class="col-auto d-flex align-items-center">
                <input hidden id="logout" type="button" class="btn btn-dark mx-2" value="Log Out">
            </div>
        </div>
        <div class="d-flex justify-content-center p-5">
            <div class="row">
                <div class="col-auto">
                    <img id="user-photo-user" src="/tw23-squisito/view/resource/basic_user.png" alt="profile-image"
                        class="avatar avatar-128 rounded-circle p-1">
                </div>
                <div class="col-auto ps-5">
                    <div class="row">
                        <h5 id="nomeUtente">User</h5>
                    </div>
                    <div class="row">
                        <div class="col-auto d-flex align-items-center">
                            Post <strong id="post-number"></strong>
                        </div>
                        <div class="col-auto d-flex align-items-center">
                            Follower <strong id="followed-number"></strong> 
                        </div>
                        <div class="col-auto d-flex align-items-center">
                            Seguiti <strong id="seguiti-number"></strong> 
                        </div>
                        <div class="col-auto d-flex align-items-center">
                            <input hidden id="edit" type="button" class="btn btn-dark" value="Modifica"
                                onclick="edit()">
                            <input hidden id="follow" type="button" class="btn btn-dark follow" value="Follow"
                                onclick="follow()">
                        </div>
                    </div>
                    <div class="row">
                        <p id="nome"></p>
                    </div>
                    <div class="row">
                        <p id="bio"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row w-75 mx-auto divider my-2"></div>
        <div id="postSpace" class="row w-75 mx-auto">

        </div>
        <nav class="row gx-0">
            <div class="nav">
                <a title="home" class="navButton" href="home.html"><span class="fas fa-house fa-xl" onclick="home()"></span></a>
                <a title="explore" class="navButton" href="explore.html"><span class="fas fa-globe fa-xl"
                        onclick="explore()"></span></a>
                <a title="addpost" class="navButton" href="addpost.html"><span class="far fa-square-plus fa-xl"
                        onclick="addpost()"></span></a>
                <a title="search" class="navButton" href="search.html"><span class="fas fa-magnifying-glass fa-xl"
                        onclick="search()"></span></a>
                <img id="user-photo-small" alt="profile-image" class="avatar avatar-32 rounded-circle p-1"
                    onclick="profile()" src="/tw23-squisito/view/resource/basic_user.png">
            </div>
        </nav>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/tw23-squisito/controller/profile.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>